body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: 100vh;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body.clear-day {
    background: linear-gradient(#64b5f6, #bbdefb);
}

body.clear-night {
    background: linear-gradient(#0d1b2a, #415a77);
}

body.cloudy {
    background: linear-gradient(#0d1b2a, #fffff8)
}

body.partly-cloudy-day {
    background: linear-gradient(#bae0ff, #f1f397);
}

body.partly-cloudy-night {
    background: linear-gradient(#0d1b2a, #fffff8)
}

body.rain {
    background: linear-gradient(#607d8b, #b0bec5);
}

body.snow {
    background: linear-gradient(#ffffff, #00a0f0)
}

body.thunder-showers-day {
    background: linear-gradient(#f6fa18, #000000);
}

body.thunder-showers-night {
    background: linear-gradient(#f6fa18, #000000);
}

body.thunder-rain {
    background: linear-gradient(#f6fa18, #000000);
}


.header {
    flex: 0.2;
    align-content:center;
}

.citySearch input, button {
    background-color: white;
    border-radius: 5px;
    color: black;
    
    padding: 10px 40px;
    text-align: center;

    transition: .2s;
}


/* Simple button animations! */
.btn:hover {
    transform: translateY(-3px);
}

.btn:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.weather-container {
    width: min(90%, 500px);
    margin: 2rem auto;
    padding: 2rem;

    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, .15);
    box-sizing: border-box;


    color: white;
    -webkit-text-stroke: 3px black;
    paint-order: stroke fill ;
    
    background: #2A7B9B;
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
}

.weather-icon {
    height: 12em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

.weather {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-general {
    text-align: center;
}
.weather .temp {
    font-size: 3em;
}

.weather-detail {
    display: grid;
    grid-template-columns: 8em 8em;
    column-gap: 10em;
}

.footer {
    
}